name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: macos-latest

    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: List directory contents before build
        run: ls -R

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Set up Python virtual environment
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python3 -m pip install --upgrade pip
          python3 -m pip install setuptools

      - name: Install dependencies
        run: |
          source venv/bin/activate
          cd electron
          npm install

      - name: Debug Node.js version and npm
        run: |
          source venv/bin/activate
          cd electron
          node -v
          npm -v

      - name: Build Electron app
        run: |
          source venv/bin/activate
          cd electron
          npm run make

      - name: List directory contents after build
        run: ls -R electron/out/make

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-build
          path: electron/out/make/zip/darwin/arm64/*.zip
          if-no-files-found: warn
          compression-level: 6
          overwrite: false

  release:
    needs: build
    runs-on: macos-latest

    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: macos-build
          path: ./dist

      - name: List downloaded files
        run: ls -R ./dist

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./dist/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
