name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: windows-latest
    # strategy:
    #   matrix:
    #     os: [macos-latest, windows-latest]

    timeout-minutes: 20  # Adjust the timeout to 20 minutes

    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
      GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      # - name: Set up Python (macOS only)
      #   if: matrix.os == 'macos-latest'
      #   uses: actions/setup-python@v4
      #   with:
      #     python-version: '3.10'

      # - name: Set up Python virtual environment (macOS only)
      #   if: matrix.os == 'macos-latest'
      #   run: |
      #     python3 -m venv venv
      #     source venv/bin/activate
      #     python3 -m pip install --upgrade pip
      #     python3 -m pip install setuptools wheel

      - name: Install dependencies and build the app
        run: |
          cd electron
          npm install
          npm run make  # Handles building and 'latest.yml' creation

      - name: List output files after make
        run: |
          Get-ChildItem -Path electron/out/make/squirrel.windows/x64/ -Force | Format-Table

      - name: Copy latest.yml to dist
        run: |
          cd electron
          node postmake.js

      - name: List files in dist
        run: |
          Get-ChildItem -Path electron/dist/ -Force | Format-Table
            
      - name: List files in dist/windows
        run: |
          Get-ChildItem -Path electron/dist/windows/ -Force | Format-Table
            
      - name: List files in dist/windows/squirrel.windows/
        run: |
          Get-ChildItem -Path electron/dist/windows/squirrel.windows/ -Force | Format-Table

      - name: List files in dist/windows/squirrel.windows/x64/
        run: |
          Get-ChildItem -Path electron/dist/windows/squirrel.windows/x64/ -Force | Format-Table
            
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-latest-build
          path: electron/dist/windows/squirrel.windows/x64/*
    
  release:
    needs: build
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Download Windows artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows-latest-build
          path: ./dist/windows
      
      - name: Set up Node.js (for npm publish)
        uses: actions/setup-node@v4
        with:
          node-version: '16'
          registry-url: 'https://registry.npmjs.org/'

      - name: Publish to npm
        run: |
          cd dist/electron
          npm publish  # Uses the built files, does not trigger a new build

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./dist/windows/squirrel.windows/x64/*.exe
            ./dist/windows/squirrel.windows/x64/latest.yml
          draft: false
          prerelease: false
